*{
    padding: 0;
    margin: 0;
}
a{
        text-decoration: none;

}

.navbar ul{
    margin: auto;
}

.navbar{
        background-color: #14397A;
        justify-content: space-between;
}

.hero{
    min-height: 90vh;
        background: linear-gradient(to bottom, #14397A, #2B72EE);

/* background-color: #14397A; */
    display: flex;
}
.hero .container{
    margin-top: 200px;
}
.row{

   display: flex;
}
.img{
    justify-content: end;
}
#features .card{
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.whatsapp-widget {
  bottom: 25px;
  right: 25px;
  background-color: #14397A;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  
}

#features .card{
    background-color:#3e7deb;
}

#feat{
background: linear-gradient(to top, #14397A, #2B72EE);

}
#nexte{
    background: linear-gradient(to top, #14397A, #2B72EE);
}


#next{
    background: url(img/im.png);
     
     background-repeat: no-repeat;
     background-size: cover;
       padding-top: 80px;
       display: flex;
       justify-content: center;
      align-items: center;
     flex-direction: row;
     margin: auto;
    border-image:fill 1 linear-gradient(hsla(234, 98%, 35%, 0.5));
}
#feat .cardd{
    justify-content: center;
}
/* #watsapp{
    display: flex;
justify-content: center;
    
}
#watsapp .watsapp{
      transform: all .5s ease;
     background-color: #a7c7ff;
     display: block;
      text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    border-right: none;
     color: #fff;
      font-weight: 700;
      font-size: 30px;
      right: 20px;
    bottom: 50px;
    border: 0;
    z-index: 9999;
    width:55px;
    height: 55px;
     line-height: 55px;
} */
 #watsapp{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}

#watsapp .watsapp{
    position: relative;
    transform: all .5s ease;
    background-color: #3e7deb;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    border: 0;
    z-index: 9;
    width: 60px;
    height: 60px;
    line-height: 60px;
    
}
#watsapp .watsapp:before{
    content:"";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background-color: #ffff;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}
#watsapp .watsapp:focus{
    border: none;
    outline: none;
}

@keyframes pulse-border {
    0%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity: 1;}
    100%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.4); opacity: 0;}
}

.icons{
    position: relative;
    transform: all .5s ease;
    background-color: #3e7deb;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    border: 0;

    width: 65px;
    height: 65px;
    line-height: 65px;
     
}

#contact input{
    border-radius: 10px;
}

.Faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #222;
}

.Question{
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.Faq.active .answer{
    max-height: 300px;
}
footer{
background: linear-gradient(to top, #14397A, #2B72EE);

}

.icon{
    position: relative;
    transform: all .5s ease;
    background-color: #3e7deb;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50px;
    border-right: none;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    right: px;
    border: 0;

    width: 50px;
    height: 50px;
    line-height: 50px;
     
}

.social-icons{
     display: flex; 
    gap: 10px;
     justify-content: start; 
  align-items:start; 
  
}
.social-icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;         
  height: 30px; 
  background-color: #14397A;
  color: #fff;       
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
#box{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.boxs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxs .box .card{
    color: #fff;
    background-color: #3e7deb;
}

@media(max-width:576px){
 .hero img{
     width:100%;
 }
 .boxs{
    margin-top:10px;
    flex-direction:column;
    gap:10px;
 }
 #nexttt .container{
    display:reletaive;
    align-text: center;
 }
}

@media(max-width:768px){
 .hero img{
     width:100%;
 }
}

@media(max-width:900px){

}

@media(max-width:900px){
    
}

ul li:hover ul.dropdown-menu{
    display: block;
}

 .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
} 

/* .boox{
    transform: translateX(400%);
    transition: transform 0.4s ease;

}
.boox:nth-of-type(even){
transform: translateX(-400%);

}
.boox.show{
    transform: translateX(0);
} */

